<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GSM.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1D42917D1C57DF7B00578EFB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D4291961C57DF7C00578EFB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D4291A11C57DF7C00578EFB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
